<h2>Пользователи</h2>
<app-list [(items)]="users" [showAddBtn]="true" [showChangeBtn]="true" [showDelBtn]="true"
    (onAddItem)="showAddUserDialog()" (onChangeItem)="showChangeUserDialog($event)" labelFieldName="getName"></app-list>

<h2>Работники</h2>
<app-list [(items)]="workers" [showAddBtn]="true" [showChangeBtn]="true" [showDelBtn]="true"
    (onAddItem)="showAddWorkerDialog()" (onChangeItem)="showChangeWorkerDialog($event)" labelFieldName="getName">
</app-list>

<h2>Студенты</h2>
<app-list [(items)]="students" [showAddBtn]="true" [showChangeBtn]="true" [showDelBtn]="true"
    (onAddItem)="showAddStudentDialog()" (onChangeItem)="showChangeStudentDialog($event)" labelFieldName="getName">
</app-list>

<h2>Водители</h2>
<app-list [(items)]="drivers" [showAddBtn]="true" [showChangeBtn]="true" [showDelBtn]="true"
    (onAddItem)="showAddDriverDialog()" (onChangeItem)="showChangeDriverDialog($event)" labelFieldName="getName">
</app-list>

<p-dialog header="Добавление пользователя" [(visible)]="addedUser" *ngIf="addedUser" [modal]="true">
    <h4>Имя</h4>
    <input pInputText [ngModel]="addedUser.getName()" (ngModelChange)="addedUser.setName($event)">
    <h4>Возраст</h4>
    <p-inputNumber [ngModel]="addedUser.getAge()" [showButtons]="true" (ngModelChange)="addedUser.setAge($event)">
    </p-inputNumber>

    <p-footer>
        <button pButton label="Сохранить" (click)="addUser()"></button>
        <button pButton label="Отмена" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Изменение пользователя" [(visible)]="changedUserNew" *ngIf="changedUserNew" [modal]="true">
    <h4>Имя</h4>
    <input pInputText [ngModel]="changedUserNew.getName()" (ngModelChange)="changedUserNew.setName($event)">
    <h4>Возраст</h4>
    <p-inputNumber [ngModel]="changedUserNew.getAge()" [showButtons]="true"
        (ngModelChange)="changedUserNew.setAge($event)"></p-inputNumber>

    <p-footer>
        <button pButton label="Сохранить" (click)="changeUser()"></button>
        <button pButton label="Отмена" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>


<p-dialog header="Добавление работника" [(visible)]="addedWorker" *ngIf="addedWorker" [modal]="true">
    <h4>Имя</h4>
    <input pInputText [ngModel]="addedWorker.getName()" (ngModelChange)="addedWorker.setName($event)">
    <h4>Возраст</h4>
    <p-inputNumber [ngModel]="addedWorker.getAge()" [showButtons]="true" (ngModelChange)="addedWorker.setAge($event)">
    </p-inputNumber>
    <h4>Зарплата</h4>
    <p-inputNumber [ngModel]="addedWorker.getSalary()" [showButtons]="true"
        (ngModelChange)="addedWorker.setSalary($event)"></p-inputNumber>

    <p-footer>
        <button pButton label="Сохранить" (click)="addWorker()"></button>
        <button pButton label="Отмена" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Изменение работника" [(visible)]="changedWorkerNew" *ngIf="changedWorkerNew" [modal]="true">
    <h4>Имя</h4>
    <input pInputText [ngModel]="changedWorkerNew.getName()" (ngModelChange)="changedWorkerNew.setName($event)">
    <h4>Возраст</h4>
    <p-inputNumber [ngModel]="changedWorkerNew.getAge()" [showButtons]="true"
        (ngModelChange)="changedWorkerNew.setAge($event)"></p-inputNumber>
    <h4>Зарплата</h4>
    <p-inputNumber [ngModel]="changedWorkerNew.getSalary()" [showButtons]="true"
        (ngModelChange)="changedWorkerNew.setSalary($event)"></p-inputNumber>

    <p-footer>
        <button pButton label="Сохранить" (click)="changeWorker()"></button>
        <button pButton label="Отмена" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Добавление студента" [(visible)]="addedStudent" *ngIf="addedStudent" [modal]="true">
    <h4>Имя</h4>
    <input pInputText [ngModel]="addedStudent.getName()" (ngModelChange)="addedStudent.setName($event)">
    <h4>Возраст</h4>
    <p-inputNumber [ngModel]="addedStudent.getAge()" [showButtons]="true" (ngModelChange)="addedStudent.setAge($event)">
    </p-inputNumber>
    <h4>Курс</h4>
    <input pInputText [(ngModel)]="addedStudent.course">
    <h4>Стипендия</h4>
    <p-inputNumber [(ngModel)]="addedStudent.scholarship" [showButtons]="true">
    </p-inputNumber>

    <p-footer>
        <button pButton label="Сохранить" (click)="addStudent()"></button>
        <button pButton label="Отмена" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Изменение студента" [(visible)]="changedStudentNew" *ngIf="changedStudentNew" [modal]="true">
    <h4>Имя</h4>
    <input pInputText [ngModel]="changedStudentNew.getName()" (ngModelChange)="changedStudentNew.setName($event)">
    <h4>Возраст</h4>
    <p-inputNumber [ngModel]="changedStudentNew.getAge()" [showButtons]="true"
        (ngModelChange)="changedStudentNew.setAge($event)"></p-inputNumber>
    <h4>Курс</h4>
    <input pInputText [(ngModel)]="changedStudentNew.course">
    <h4>Стипендия</h4>
    <p-inputNumber [(ngModel)]="changedStudentNew.scholarship" [showButtons]="true">
    </p-inputNumber>

    <p-footer>
        <button pButton label="Сохранить" (click)="changeStudent()"></button>
        <button pButton label="Отмена" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Добавление водителя" [(visible)]="addedDriver" *ngIf="addedDriver" [modal]="true">
    <h4>Имя</h4>
    <input pInputText [ngModel]="addedDriver.getName()" (ngModelChange)="addedDriver.setName($event)">
    <h4>Возраст</h4>
    <p-inputNumber [ngModel]="addedDriver.getAge()" [showButtons]="true" (ngModelChange)="addedDriver.setAge($event)">
    </p-inputNumber>
    <h4>Зарплата</h4>
    <p-inputNumber [ngModel]="addedDriver.getSalary()" [showButtons]="true"
        (ngModelChange)="addedDriver.setSalary($event)"></p-inputNumber>
    <h4>Опыт вождения</h4>
    <p-inputNumber [(ngModel)]="addedDriver.drivingExperience" [showButtons]="true"></p-inputNumber>
    <h4>Категория</h4>
    <select [(ngModel)]="addedDriver.drivingCategory">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
    </select>

    <p-footer>
        <button pButton label="Сохранить" (click)="addDriver()"></button>
        <button pButton label="Отмена" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Изменение водителя" [(visible)]="changedDriverNew" *ngIf="changedDriverNew" [modal]="true">
    <h4>Имя</h4>
    <input pInputText [ngModel]="changedDriverNew.getName()" (ngModelChange)="changedDriverNew.setName($event)">
    <h4>Возраст</h4>
    <p-inputNumber [ngModel]="changedDriverNew.getAge()" [showButtons]="true"
        (ngModelChange)="changedDriverNew.setAge($event)"></p-inputNumber>
    <h4>Зарплата</h4>
    <p-inputNumber [ngModel]="changedDriverNew.getSalary()" [showButtons]="true"
        (ngModelChange)="changedDriverNew.setSalary($event)"></p-inputNumber>
    <h4>Опыт вождения</h4>
    <p-inputNumber [(ngModel)]="changedDriverNew.drivingExperience" [showButtons]="true"></p-inputNumber>
    <h4>Категория</h4>
    <select [(ngModel)]="changedDriverNew.drivingCategory">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
    </select>

    <p-footer>
        <button pButton label="Сохранить" (click)="changeDriver()"></button>
        <button pButton label="Отмена" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>

<p-confirmDialog></p-confirmDialog>